/* Global Properties*/
:root {
	--buttonSize: 70px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* Temp */
}

/* Classes */
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
.col {
	flex-direction: column;
}

/* Containers */
#container-head {
	height: 15vh;
}

#container-calc {
	height: 80vh;
	border: dashed 1px;
}

#container-foot {
	height: 5vh;
}

/* Calculator */
#calc {
	border: solid 2px;
}
/* Display */
.display {
	width: calc(4 * var(--buttonSize));
	text-align: right;
	padding-right: 10px;
}

#calc-display {
	height: calc(2 * var(--buttonSize));
}

#display-history {
	height: calc(0.45 * 2 * var(--buttonSize));
	border-bottom: dashed 1px;
	display: flex;
	flex-direction: column-reverse;
	overflow: hidden;
}

#display-entry {
	height: calc(0.55 * 2 * var(--buttonSize));
	line-height: calc(0.55 * 2 * var(--buttonSize));
	justify-content: right;
	overflow: hidden;
}

/* Buttons */
#calc-numbers {
	width: calc(3 * var(--buttonSize));
	flex-wrap: wrap;
}

.calc-button {
	height: var(--buttonSize);
	width: var(--buttonSize);
}