/* Global Properties*/
:root {
	--buttonSize: 70px;
}

* {
	margin: 0;
	padding: 0;

	/* Temp */
	border: dashed 1px;
}

/* Classes */
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
.col {
	flex-direction: column;
}

/* Containers */
#container-head {
	height: 15vh;
}

#container-calc {
	height: 80vh;
}

#container-foot {
	height: 5vh;
}

/* Calculator */
/* Display */
#calc-display {
	height: calc(2 * var(--buttonSize));
}

/* Buttons */
#calc-numbers {
	width: calc(3 * var(--buttonSize));
	flex-wrap: wrap;
}

.calc-button {
	height: var(--buttonSize);
	width: var(--buttonSize);
}

#calc-0 {
	width: calc(3 * var(--buttonSize));
}

/* temp  */
